.container {
	margin-top: 50px;
}
.rules {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #bebebe;
}
.rules > {
	display: inline-block;
}