.button {
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 24px;
	border-radius: 22px;
	height: 44px;
	font-family: 'IBM Plex Sans', serif;
	font-weight: 700;
	border: none;
	cursor: pointer;
	font-size: 20px;
	transition: all .3s;
	width: 100%;
}
.primary {
	background: #7247EB;
	color: white;
}
.primary:hover {
	background: #5526D9;
}
.secondary {
	background: transparent;
	border: 2px solid white;
	color: white;
}